<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
    <system.web>
     
      <compilation debug="true" targetFramework="4.5.2" />
      <authentication mode="Forms">

      </authentication>

      <authorization>
       
        <deny users="?"/>

      </authorization>

      <membership>

        <providers>

          <remove name="AspNetSqlMembershipProvider"/>

          <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"/>

        </providers>

      </membership>
    </system.web>

  <connectionStrings>

		<add name="soccerconnstring" connectionString="Data Source=DESKTOP-CL4P1VF\SQL;Initial Catalog=soccerDb;Integrated Security=True" providerName="System.Data.SqlClient"/>

		<remove name="LocalSqlServer"/>

		<add name="LocalSqlServer" connectionString="Data Source=DESKTOP-CL4P1VF\SQL;Initial Catalog=soccerDb;Integrated Security=True" providerName="System.Data.SqlClient"/>

	</connectionStrings>
  
  



  
</configuration>
